#list-tab{
    max-height: 193px;
    overflow-y: scroll;
    position: relative;
}

.image{
    width: 40px;
    float: right;
}

.card-body{
    overflow-y: scroll;
}

.nav-pill{
    border: 1px !important;
}

div .list_search {
    position: absolute;
    top     : 50px;
    right   : 245px;
    z-index : 6;
    width   : 200px;
}