.list_search {
    position: absolute;
    top     : 50px;
    right   : 290px;
    z-index : 6;
    width   : 200px;
}
.search_item {
    background-color: rgb(166, 183, 196);
}

.nav-pill {
    border: none;
}

.search_item:hover {
    cursor          : pointer;
    background-color: rgb(219, 215, 208);
}

.search_image {
    width: 30px;
}

.rtl {
    direction: rtl;
}

.notif {
    position: absolute;
    top     : 54px;
    right   : 40px;
}

.list-group .rounded-circle {
    width       : 94px;
    height      : 50px;
    position    : relative;
    bottom      : 8px;
    margin-right: 5px;
}

.fa-bell {
    /* right: 59px; */
    top: 10px;
}

.notif {
    position  : absolute;
    top: 42px;
    right     : 40px;
    z-index   : 6;
    max-height: 220px;
    overflow-y: scroll;
}

.list-group .rounded-circle {
    width       : 73px;
    height: 50px;
    position    : relative;
    bottom      : 8px;
    margin-right: 5px;
}

.list-group .notif_hover:hover {
    background-color: #eee;
}

#bell {
    right       : -2px;
    top         : 10px;
    margin-left : 17px;
    margin-right: 12px;
}

#bell:hover{
    cursor: pointer;
}

.p {
    position   : relative;
    right      : 62px;
    width      : 80%;
    margin-left: 78px;
}

.notifications small {
    margin-left: 20px;
}

.notifications .rounded-circle {
    max-height  : 50px;
    margin-right: 10px;
}

.notifications p {
    position: relative;
    right   : -71px;
    bottom  : 22px;
}

#notifs_count {
    position        : absolute;
    left            : 6px;
    bottom          : 31px;
    color           : var(--white_color);
    background-color: #f02849;
    padding         : 5px;
    font-size       : 11px;
}
