.list_search{
    position: absolute;
    top     : 50px;
    right: 236px;
    z-index : 6;
    width   : 200px;
}
.search_item{
    background-color: rgb(166, 183, 196) ;
}

.nav-pill{
    border: none;
}

.search_item:hover{
    cursor          : pointer;
    background-color: rgb(219, 215, 208);
}

.search_image{
    width: 30px;
}

.rtl{
    direction: rtl;
}