.card-text {
    position: relative;
    left    : 102px;
    width   : 50%;
    bottom  : 24px;
}

.card-title{
    font-size  : large;
    font-weight: bold;
    margin-left: 5px;
}

.card-body{
    padding-bottom: 0 !important;
}

.awaiting_btn,.message_btn,.join_btn,.add_btn{
    float   : right;
    position: relative;
    bottom  : -26px;
}

div .list_search {
    position: absolute;
    top     : 50px;
    right   : 245px;
    z-index : 6;
    width   : 200px;
}

a{
    text-decoration: none !important;
}

