.group{
    background-color: #1DABB8;
    margin-top: 21px;
}

.group_photo{
    max-height: 260px;
    margin-top: 6px;
}

.group_name,.members_count{
    font-size: large;
    font-weight: bold;
    margin-top: 104px;
    margin-left: 5px;
}

.group_description{
    width: 350px;
    margin-top: 134px;
    position: relative;
    right: 195px;
    margin-left: 87px;
    /* margin-right: 50px; */
}

.rounded-circle{
    margin-left: 10px;
}

.btn_approve,.btn_ignore,.btn_add_admin,.btn_delete,.btn_punish,.btn_delete_from_group,.btn_remove_admin{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


.parent_requests{
    max-height: 227px;
    overflow-y: scroll;
    position: relative;
    top: -8px;
}

.parent_members{
    max-height: 227px;
    overflow-y: scroll;
    position: relative;
    top: -8px;
}